
/*@media (min-width:500px) {*/
body, html {
margin: 0px;
height: 140%;
width: 100%;
background: white;
position: static;
max-width: 100%;
overflow-x: hidden;
} 
/*}*/
a{
	text-decoration: none;
}

.bordertop{
	height:60px;
	width:auto;
	right:0px;
	position:fixed;
	
}
.bordertop-left{
	height:60px;
	width:auto;
	left:0px;
	position:fixed;
	
}
.borderbottom-left{
	height:60px;
	width:auto;
	left:0px;
	bottom:0px;
	position:fixed;
	
}
.borderbottom-right{
	height:60px;
	width:auto;
	right:0px;
	bottom:0px;
	position:fixed;
	
}
.AboutMe{
	position: relative;
	text-align:center;
	top:10px;
	font-size: 60px;
	font-family: 'Libre Baskerville', serif;
	color:#F08080;

}

#navbar{
	
	position: relative;
	margin: auto;
	top:30px;
    width: 50%;
   text-align: center;
}
.nav{
	display:inline-block;
	padding:0px 20px;
	text-align: center;
	color:#95BC7D;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}

.nav:hover{
	opacity:1;
	color:#66CDAA;
	cursor:pointer;
}
.nav:active{
	transform: scale(1.2);
	transition:.05s;
}



/*CONTENT AREA*/
#content{
	position:relative;
	height:80%;
	width:90%;
	/*border-style:solid;
	border-color:black;*/
	float:right;
	top:50px;
}
.photo{
	width:auto;
	height:500px;
	top:33px;
	float:center;
	left:20%;
	position:relative;
}
#info{
	position:relative;
	height:600px;
	width:400px;
	float:right;
	right:23%;

}
.bio{
  padding: 1% 0 9% 0;;
  position: relative;
  width: 125%;
  font-family: 'Montserrat', sans-serif;


}
.serena{
	font-weight:bold;
	position: relative;
	font-size: 25px;
}
/*.bio{
	position:relative;
	width:600px;
	height:auto;
	float:center;
	right:15%;
	top:3%;
	font-size:20px;
	font-family: 'Handlee', cursive;
	color:#787878;
}*/
#contactbar{
	position: absolute;
	display: inline-block;
	left:-400px;
	top:550px;
	width:350px;
	float:right;
}

.icon:hover{
	cursor: pointer;
}

.icon:active{
	transform:scale(1.2);
}
.facebook{
	position:relative;
	height:8%;
	width:auto;
	margin:5px;
}
.instagram{
	position:relative;
	height:8%;
	width:auto;
	margin:5px;

}

.email{
	position: relative;
	height:8%;
	width:auto;
	margin:5px;
}
.linkedin{
	position: relative;
	height:8%;
	width:auto;
	margin:5px;
}
#caption{
	bottom: -15%;
	left:112%;
	font-size: 12px;
	transform:translate(-50%, -50%);
	position:absolute;
	text-align:center;
	width:70%;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}
#Resume{
	position:relative;
	top:-55px;
}
.resume-icon{
	position: relative;
	height:225px;
	width:auto;
	left: 0%;
  	transform: translate(-50%, 0%);
}
.resume-icon:hover{
	cursor: pointer;
	opacity: 0.7;
}
.blurb{
	position:relative;
	font-size:28px;
	left:-110%;
	width: auto;
	font-family: 'Cutive Mono', monospace;
	color:#ff8080;
}
.logo{
	height:350px;
	width:auto;
}
