body, html {
margin: 0px;
height: 100%;
width: 100%;
background: #F3F3F3;
position: fixed;
overflow:hidden;
} 

@media screen and (min-width:500px) {

#container{
	height:150%;
	width:100%;
	z-index: -1;
	position: absolute;
}

a{
	text-decoration: none;
}
#page-layout{
	height:100%;
	width:100%;
}

#content{
	height:100%;
	width:100%;
}

#picture{
	position:relative;
	margin: 0 auto;
	height:100%;
	width: 100%;
	top:-10%;
}

.water{
 	display: block;
    width: 700px;
    height: 700px;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    position: absolute;
    z-index: -8;
    bottom: 50px;

}

.water > img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}
.Serena{
	position:absolute;
	font-size:85px;
	display:block;
	text-align:center;
	left:50%;
	top:45%;
	transform:translate(-50%, -50%);
	bottom:50%;
	font-family:  'Amatic SC', cursive;
	color:#66CDAA;
	z-index:2;
}
#lowerbar{
	float: left;
	top:85%;
	left:50%;
	transform:translate(-50%, -50%);
	position:absolute;
	text-align:center;
	width:100%;

}
.nav{
	font-family: 'Amatic SC', cursive;
	position: relative;
	font-size:75px;
	display: inline-block;
	padding:0px 5px;
	line-height:120px;
	width:20%;
	color: #FFA07A;

}

.nav:hover{
	opacity:1;
	cursor: pointer;
	color:	#54B78C;

	
}

.nav:active{
	transform: scale(1.2);
	}
}
